[Unit]
Description=audio service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/audio-start
RemainAfterExit=true

[Install]
WantedBy=default.target
