[Unit]
Description=Chromium app service

[Service]
ExecStart=/usr/local/bin/chromium-app-start
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
